<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SampleCode.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<!-- Identity Token : Identity tokens are signed authentication tokens provided to merchants or other transaction originators to prevent the unauthorized use 
    of an application. Identity tokens are set to expire after 3 years, and therefore will require renewal. Identity tokens should be managed and protected in a 
    manner consistent with current key management best practices which may include access control, encryption, or use of specialized security devices. Identity 
    token owners are responsible for establishing practices for managing sensitive data like any other secure credential or business certificate. -->
		<add key="IdentityToken" value=""/>
    <add key="DelegatedSignOnSupported" value="false"/> <!-- Valid Values 'true', 'false'  NOTE: Please ask your consultant about the specific use cases for Delegated SignOn-->

		<!-- Application Data Values -->
		<add key="ApplicationAttended" value="false"/>		<!-- Valid Values 'true', 'false' -->
		<add key="ApplicationLocation" value="OffPremises"/>		<!-- Valid Values 'Unknown', 'OnPremises', 'OffPremises', 'HomeInternet' -->
		<add key="PINCapability" value="PINNotSupported"/>		<!-- Valid Values 'PINNotSupported', 'PINPadInoperative', 'PINSupported', 'PINVerifiedByDevice', 'Unknown' -->
		<add key="ReadCapability" value="KeyOnly"/>		<!-- Common Value Used 'HasMSR', 'KeyOnly' -->
    <add key="EncryptionType" value="NotSet"/>		<!-- [Magensa : Valid Values 'IPADV1Compatible', 'MagneSafeV4V5Compatible', 'NotSet'] -->

		<!-- MerchantProfile Values -->
		<add key="IndustryType" value="Ecommerce"/>		<!-- Valid Values 'Ecommerce', 'MOTO', 'Retail', 'Restaurant' -->
		<add key="CustomerPresent" value="Ecommerce"/>		<!-- Common Values Used [Ecommerce : Ecommerce] [MOTO : MOTO] [Retail/Restaurant : Present] -->
		<add key="RequestACI" value="IsCPSMeritCapable"/>		<!-- In general default to 'IsCPSMeritCapable'. Other value is 'NotCPSMeritCapable' -->
    <add key="EntryMode" value="Keyed"/>    <!-- [Ecommerce/MOTO : Keyed] [Retail/Restaurant : Keyed/TrackDataFromMSR] -->
    
		<!-- TransactionData Values -->
		<add key="TxnData_ProcessAsKeyed" value="true"/>		<!-- 'true', 'false' Depending on industrytype toggle between a swipe example and a keyed transaction-->
		<add key="TxnData_EntryMode" value="Keyed"/>		<!-- [Ecommerce/MOTO : Keyed] [Retail/Restaurant : Keyed/TrackDataFromMSR] -->
		<add key="TxnData_OrderOfProcessingTracks" value="Track2|Track1|Keyed"/>		<!-- The order consists of three values seperated by Pipe. Ex. Track2|Track1|Keyed -->
    <add key="TxnData_ProcessMagensaTxn" value="false"/> <!-- Magensa is an End to End encryptions solution offered through MagTek -->
		<add key="TxnData_CustomerPresent" value="Ecommerce"/>		<!-- [Ecommerce : Ecommerce] [MOTO : MOTO] [Retail/Restaurant : Present] -->
		<add key="TxnData_SignatureCaptured" value="false"/>		<!-- 'true', 'false' - For retail/restaurant should be configurable in their software and should be marked whether or not software actually gets the signature for each transaction -->
		<add key="TxnData_IncludeAVS" value="true"/>		<!-- 'true', 'false' -->
		<add key="TxnData_IncludeCV" value="true"/>		<!-- 'true', 'false' -->
		<add key="TxnData_IncludeVPAS" value="false"/>		<!-- 'true', 'false' -->
		<add key="TxnData_IncludeUCAF" value="false"/>		<!-- 'true', 'false' -->
		<add key="TxnData_IncludeCFees" value="false"/>		<!-- 'true', 'false'-->
    <add key="TxnData_SoftDescriptors" value="false"/>   <!-- 'true', 'false' Note : Not all services support -->

		<!-- Process as a BankcardTransaction object or as a BankcardTransactionPro object-->
		<add key="ProcessAsBankcardTransaction_Pro" value="false"/>		<!-- 'true', 'false' If set to true the following Pro parameters are required-->
		<add key="Pro_PurchaseCardLevel" value="false"/>		<!-- 'Level1', 'Level2', 'Level3' -->
		<add key="Pro_InterchangeData" value="false"/>		<!-- 'true', 'false'-->
		<add key="Pro_IncludeLevel2OrLevel3Data" value="false"/>		<!-- 'true', 'false'-->

		<!--  Endpoint Management used by HelperMethods.cs. Please also note that system.serviceModel below also relies on the url to be correct. -->
		<add key="BaseSvcEndpointPrimary" value="https://api.cert.nabcommerce.com/2.0.18/SvcInfo"/>
		<add key="BaseSvcEndpointSecondary" value="https://api.cert.nabcommerce.com/2.0.18/SvcInfo"/>
		<add key="BaseTxnEndpointPrimary" value="https://api.cert.nabcommerce.com/2.0.18/Txn"/>
		<add key="BaseTxnEndpointSecondary" value="https://api.cert.nabcommerce.com/2.0.18/Txn"/>
		<add key="BaseDataServicesEndpointPrimary" value="https://api.cert.nabcommerce.com/2.0.18/DataServices/TMS"/>
		<add key="BaseDataServicesEndpointSecondary" value="https://api.cert.nabcommerce.com/2.0.18/DataServices/TMS"/>
       

	</appSettings>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="ServiceInfoProcessing_ICWSServiceInformation" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
     <security mode="Transport">
      <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
      <message clientCredentialType="UserName" algorithmSuite="Default"/>
     </security>
    </binding>
    <binding name="TransactionProcessing_ICwsTransactionProcessing" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
     <security mode="Transport">
      <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
      <message clientCredentialType="UserName" algorithmSuite="Default"/>
     </security>
    </binding>
    <binding name="BasicHttpBinding_ITMSOperations" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="131072" maxBufferPoolSize="524288" maxReceivedMessageSize="131072" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
     <security mode="Transport">
      <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
      <message clientCredentialType="UserName" algorithmSuite="Default"/>
     </security>
    </binding>
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost/CWS/SIS" binding="basicHttpBinding" bindingConfiguration="ServiceInfoProcessing_ICWSServiceInformation" contract="schemas.ipcommerce.com.Ipc.General.WCF.Contracts.Common.External.SvcInfo.ICWSServiceInformation" name="ServiceInfoProcessing_ICWSServiceInformation"/>
   <endpoint address="https://localhost/TP" binding="basicHttpBinding" bindingConfiguration="TransactionProcessing_ICwsTransactionProcessing" contract="schemas.ipcommerce.com.Ipc.General.WCF.Contracts.Common.External.Txn.ICwsTransactionProcessing" name="TransactionProcessing_ICwsTransactionProcessing"/>
   <endpoint address="https://localhost/TMS" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITMSOperations" contract="schemas.ipcommerce.com.Ipc.General.WCF.Contracts.Common.External.DataServices.ITMSOperations" name="BasicHttpBinding_ITMSOperations"/>
  </client>
 </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
